* {
    margin: 0;
    padding: 0;
}

/*Para que los links no tengan subrayado*/
a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* ---BODY--- */

body {
    background: floralwhite;
    background: whitesmoke;
    width: 100%;
    height: auto;

}


.bodymenu {
    background-color: orangered;
}




/* ---HEADER--- */


header {

    width: auto;
    height: 10%;
    top: 0px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
<<<<<<< HEAD
    z-index: 1;

=======
    
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9

}

/*.header{
border-bottom: 1px solid black;
    }*/

.ulmenu {
    display: flex;
    justify-content: space-between;
    padding: 0;

}

li {
    display: inline-block;
    margin: 10px;
    color: orangered;
}


a {
    color: orangered;
    /*color: yellow;*/
    color: #1f1f1f;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

<<<<<<< HEAD
.a {
=======
.a{
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    color: orangered;

}

.alinea:hover {
    text-decoration-line: underline;
    color: orangered;
    color: #1f1f1f;
}

.ainfo {
    color: orangered;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}



/* atributo al LOGO */
.logo {
    width: 40px;
    height: auto;
}

/*---img INDEX ---*/

main {
    width: 100%;
    overflow: hidden;
}

.section1 {

    border-top: 1px solid #1f1f1f;
    text-align: center;
}

video {
    object-fit: cover;
    width: 100%;
    height: 50%;
    z-index: -1;

}

h1 {
    font-family: 'Cairo', sans-serif;
    color: #1f1f1f;
    color: orangered;
    font-weight: 500;
    font-size: 7rem;
    line-height: 120px;
    text-align: center;
    padding: 60px;
    margin-top: 0px;
}

.p-atributo {
    font-size: 3rem;
}


marquee {
    width: 100%;
    height: auto;
    font-weight: 100;
    font-size: 3rem;
    color: orangered;
    color: #1f1f1f;
    background-color: orangered;
    /*background-color: yellow;*/
    background-color: whitesmoke;
    font-family: 'Cairo', sans-serif;
    border-bottom: 1px solid #1f1f1f;
    border-top: 1px solid #1f1f1f;
    display: flex;
    justify-content: end;
    margin-top: 0px;


}

.section2 {
    width: 100%;
    border-top: 1px solid #1f1f1f;


}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1200px;
}


.description {
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #1f1f1f;
    text-align: left;
    padding-right: 60px;
    padding-top: 30px;
    line-height: 2.5rem;
}

h4 {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #1f1f1f;
    padding-left: 60px;
    text-align: left;
    margin: 0;
}

p {
    margin-bottom: 20px;

}

<<<<<<< HEAD
.cont-index {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;

}

.card-text {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: whitesmoke;
}


.card1 {
=======
.cont-index{
    background-color: #1f1f1f; 
    display: flex;
    justify-content: space-around;
    
}
.card-text{
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color:whitesmoke;
}


.card1{
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    margin: 20px;
    padding-top: 50px;
    background: none;
    border: none;
    width: 40%;
    height: 60%;
    overflow: hidden;
    border-radius: 0%;
}
<<<<<<< HEAD

.imgcard {
=======
.imgcard{
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    text-justify: center;
    object-fit: cover;


}



/*------ MENU ------*/

#ol {
    border-bottom: 1px solid #1f1f1f;
    padding-left: 90px;

}

.olmenu {
    font-size: 4.3rem;
    color: white;
}

.ulol {
    width: 100%;
    padding-top: 10%;
}

<<<<<<< HEAD
.input {
=======
.input{
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    border: none;
    color: orangered;
    /*color: yellow;*/
    color: #1f1f1f;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    background: none;

}

<<<<<<< HEAD
.marcolor {
=======
.marcolor{
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    margin: 0;
    background: whitesmoke;
}

<<<<<<< HEAD
.alista {
    padding-left: 60px;
}

.ullista {
=======
.alista{
    padding-left: 60px;
}
.ullista{
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    margin-bottom: 50px;
    margin-top: 50px;

}
<<<<<<< HEAD

.alista:hover {
    color: orangered
=======
.alista:hover{
    color:orangered
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
}

/*--- INFO ---*/



.bodyinfo {
    background-color: rgb(100, 100, 100);
}



h5 {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 10rem;
    color: #1f1f1f;
    padding: 30px;
    margin: 0px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;
    margin: 30px;
}

.item1:nth-child(5) {
    grid-column-start: span 2;

}

.item1 {
    z-index: -1;
    width: 100%;
    overflow: hidden;
}

.imginfo {
    width: 85%;
    /*border: 1px solid orangered;*/

}

/*----trying animation-----*/

.slide-top {
    -webkit-animation: slide-top 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
    animation: slide-top 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-4 12:16:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}




.pinfo {
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: #1f1f1f;
    margin: 0;
}

.pinfo2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #1f1f1f;
}

.pinfo3 {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #1f1f1f;
    width: 80%;
}

/*---- WEDDING GRIDS ----*/




section {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    /*display: flex;
    flex-direction: column;*/
}

h2 {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: 1px solid #1f1f1f;

    color: orangered;
    /*color: yellow;*/
    -webkit-text-stroke: 0.75px #1f1f1f;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 6.5rem;
    text-align: center;
    line-height: 120px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 900px;
    grid-gap: 0px;
    /*border-left: 1px solid black;*/

}

.item:nth-child(3) {
    grid-column-start: span 2;

}

.item:nth-child(6) {
    grid-column-start: span 2;
}

.item {
    overflow: hidden;
    height: 840px;
    padding: 30px;
    /*border-top: 1px solid black;
    border-right:1px solid black;*/
}

.imagenlove {
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.imagenlove2 {
    width: 90%;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

.imagenlove2 {
    width: 80%;
    height: auto;
    object-fit: cover;
    padding-bottom: 60px;
}

.colfa {
    padding: 0px;
    margin-right: 0;

}

.imagen:hover {
    filter: opacity(.5);
}

@keyframes mianimation {}

h3 {
<<<<<<< HEAD

=======
    
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: orangered;
    line-height: 2rem;
    /*color: yellow;*/
    margin-top: 40px;
    padding-bottom: 0px;

}


/*------FASHION----------*/


.h3 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: 0rem;
    color: #1f1f1f;
    font-weight: 300;
    padding: 100px;
}

/*-------PORTRAIT---------*/

.pb {
    padding-bottom: 40px;
}

.pt {
    padding-top: 40px;
}
<<<<<<< HEAD

.carousel-cont {
    width: 100%;
    height: 750px;

}

.img-carousel {
    height: 750px;
    object-fit: cover;
=======
.h3{
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: 0rem;
    color: #1f1f1f;
    font-weight: 300;
    padding: 100px;
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
}


/*-------CONTACT---------*/


form {
    display: block;
    justify-content: flex-start;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: orangered;
    width: 50%;
    margin: 0%;
}

.dentrodebox {
    font-size: 4rem;
    font-family: 'Cairo', sans-serif;
    background: none;
    border: 0px;
    width: 800px;
    color: rgb(100, 100, 100);

}

.contact {
    padding-left: 0px;
    padding-right: 100px;
    width: 250px;
    margin: 0;
}


/*----FOOTER-----*/




#footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #1f1f1f;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    bottom: 0;
}

.col {
    color: orangered;
    /*color: yellow;*/
    color: black;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
    padding-left: 25px;
    padding-right: 25px;
    width: 320px;


}

.col2 {
    line-height: 150%;
    font-weight: 300;
    text-align: right;
}

.col3 {
    font-weight: 600;
    font-size: 1.3rem;

}



/*-----------------------------------*/
/*---- RESPONSIVE (AYUDAME JEBUS)----*/

@media(min-width: 320px) {


    a {
        color: orangered;
        /*color: yellow;*/
        color: #1f1f1f;
        font-family: 'Cairo', sans-serif;
        font-size: 1.2rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ainfo {
        color: orangered;
        font-family: 'Cairo', sans-serif;
        font-size: 1.2rem;
        padding-left: 5px;
        padding-right: 5px;
    }


    /*--INDEX---*/

    marquee {
        font-size: 1.5rem;
    }

    .section2 {
        width: 100%;
        padding-top: 0px;


    }

    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }


    .description {
        font-size: 1rem;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px;
        line-height: 1.3rem;
    }

    h4 {
        font-size: 2rem;
        padding-left: 20px;
        text-align: left;
        margin: 0;
    }

    p {
        margin-bottom: 20px;

    }
    .cont-index{
        display: flex;
        flex-direction:column-reverse;
        
    }

    .card1{
        width: 90%;

    }

    .cont-index {
        display: flex;
        flex-direction: column-reverse;

    }

    .card1 {
        width: 90%;

    }

    /*------ MENU ------*/

    #ol {
        padding-left: 20px;

    }

    .olmenu {
        font-size: 2.3rem;
    }

    .ulol {
        width: 100%;
        padding-top: 30%;
    }

    .input {
        border: none;
        color: orangered;
        /*color: yellow;*/
        color: #1f1f1f;
        font-size: 1.2rem;

    }


    /*------ INFO ------*/

    h5 {
        font-size: 5rem;
        padding: 30px;

    }

    .grid-container3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 10px;
        margin: 10px;
    }

    .item1:nth-child(5) {
        grid-column-start: span 1;

    }

    .item1 {

        width: 100%;
        overflow: hidden;
    }

    .imginfo {

        width: 85%;
        /*border: 1px solid orangered;*/
    }

    .pinfo {
        font-family: 'Cairo', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        color: #1f1f1f;
        margin: 0;
    }

    .pinfo2 {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: #1f1f1f;
    }

    .pinfo3 {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2rem;
        color: #1f1f1f;
        width: 80%;
    }

    /*--Wedding--*/

    h1 {
        font-size: 3.1rem;
        text-align: center;
        line-height: 60px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 430px;

    }

    .item:nth-child(3) {
        grid-column-start: span 1;

    }

    .item:nth-child(6) {
        grid-column-start: span 1;
    }

    .item {
        height: 380px;
        padding: 20px;
    }

    h3 {
        font-size: 1.5rem;
        color: orangered;
        /*color: yellow;*/
        margin-top: 20px;
        padding-bottom: 0px;

    }
    .h3{
        font-size: 1.5rem;
        line-height: 1.8rem;
        letter-spacing: 0rem;
        color: #1f1f1f;
        font-weight: 300;
        padding: 50px;
    }

    .h3 {
        font-size: 1.5rem;
        line-height: 1.8rem;
        letter-spacing: 0rem;
        color: #1f1f1f;
        font-weight: 300;
        padding: 50px;
    }

    .imagenlove {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }

    /*------FASHION----------*/



    /*-------PORTRAIT---------*/

    .carousel-cont {
        width: 100%;
        height: 280px;

    }

    .img-carousel {
        height: 280px;
        object-fit: cover;
    }


    /*-------CONTACT---------*/


    form {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        color: orangered;
    }

    .dentrodebox {
        font-size: 1.7rem;
        width: 310px;


    }

    .contact {
        padding-left: 0px;
        padding-right: 100px;
        width: 250px;
    }

    /*---FOOTER---*/

    .col {
        font-size: 1.2rem;
        padding-left: 25px;
        padding-right: 25px;
        width: 250px;
        text-align: left;
    }

    #footer {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;

    }

}

@media screen and (min-width: 768px) {



    a {
        color: orangered;
        /*color: yellow;*/
        color: black;
        font-family: 'Cairo', sans-serif;
        font-size: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ainfo {
        color: orangered;
        font-family: 'Cairo', sans-serif;
        font-size: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 5.5rem;
        text-align: center;
        line-height: 100px;
    }

    /*--INDEX---*/

    marquee {
        font-size: 3rem;
    }

    .section2 {
        padding-top: 0px;


    }

    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .description {
        font-size: 1.2rem;
        text-align: left;
        padding-right: 20px;
        padding-top: 20px;
        line-height: 1.5rem;
    }

    h4 {
        font-size: 2rem;
        padding-left: 20px;
        text-align: left;
        margin: 0;
    }

    p {
        margin-bottom: 20px;

    }

<<<<<<< HEAD
    .cont-index {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

=======
    .cont-index{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    }

    /*------ MENU ------*/

    #ol {
        padding-left: 90px;

    }

    .olmenu {
        font-size: 4.3rem;
    }

    .ulol {
        width: 100%;
        padding-top: 20%;
    }

    .input {
        border: none;
        color: orangered;
        /*color: yellow;*/
        color: #1f1f1f;
        font-size: 1.5rem;

    }


    /*------ INFO ------*/

    h5 {
        font-size: 7rem;
        padding: 30px;
    }

    .grid-container3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 30px;
        margin: 30px;
    }

    .item1:nth-child(5) {
        grid-column-start: span 2;

    }

    .item1 {
        width: 100%;
        overflow: hidden;
    }

    .imginfo {
        width: 85%;
        /*border: 1px solid orangered;*/
    }

    .pinfo {
        font-family: 'Cairo', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        color: #1f1f1f;
        margin: 0;
    }

    .pinfo2 {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: #1f1f1f;
    }

    .pinfo3 {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2rem;
        color: #1f1f1f;
        width: 80%;
    }



    /*--Wedding--*/


 /*--   .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 490px;
    }

    .item:nth-child(3) {
        grid-column-start: span 2;

    }

    .item:nth-child(6) {
        grid-column-start: span 2;
    }

    .item {
        height: 430px;
    }

    .imagenlove {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }--*/

    h3 {
<<<<<<< HEAD

=======
        
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: orangered;
        /*color: yellow;*/
        margin-top: 30px;
        padding-bottom: 0px;

    }

    /*------FASHION----------*/



    /*-------PORTRAIT---------*/

    .carousel-cont {
        width: 100%;
        height: 450px;

    }

    .img-carousel {
        height: 450px;
        object-fit: cover;
    }

    /*-------CONTACT---------*/


    form {
        font-size: 1.8rem;

    }

 /*---   .dentrodebox {
        font-size: 3.8rem;
        width: 750px;

    }

    .contact {
        padding-left: 0px;
        padding-right: 100px;
        width: 250px;
    }--*/

    /*---FOOTER---*/

    .col {
        font-size: 1rem;
        padding-left: 25px;
        padding-right: 25px;
        width: 250px;
    }

    #footer {
        width: 100%;
        flex-direction: row;
        padding-top: 50px;
    }
}




@media screen and (min-width: 1200px) {


    a {
        color: orangered;
        /*color: yellow;*/
        color: black;
        font-family: 'Cairo', sans-serif;
        font-size: 2rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ainfo {
        color: orangered;
        font-family: 'Cairo', sans-serif;
        font-size: 2rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 7rem;
        text-align: center;
        line-height: 120px;
    }

    /*--INDEX---*/

    marquee {
        font-size: 3rem;
    }

    .section2 {
        padding-top: 0px;


    }

    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }


    .description {
        font-size: 2rem;
        text-align: left;
        padding-right: 60px;
        padding-top: 30px;
        line-height: 2.5rem;
    }

    h4 {
        font-size: 3rem;
        padding-left: 60px;
        text-align: left;
        margin: 0;
    }

    p {
        margin-bottom: 20px;

    }

<<<<<<< HEAD
    .cont-index {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

=======
    .cont-index{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        
>>>>>>> dc8007b0cf5583fef188744cfe8bd40ac8519dc9
    }

    /*------ MENU ------*/

    #ol {
        padding-left: 90px;

    }

    .olmenu {
        font-size: 4.3rem;
    }

    .ulol {
        width: 100%;
        padding-top: 10%;
    }

    .input {
        border: none;
        color: orangered;
        /*color: yellow;*/
        color: #1f1f1f;
        font-size: 2rem;

    }

    /*------ INFO ------*/

    h5 {
        font-size: 10rem;
        padding: 30px;
    }

    .grid-container3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 30px;
        margin: 30px;
    }

    .item1:nth-child(5) {
        grid-column-start: span 2;

    }

    .item1 {
        width: 100%;
        overflow: hidden;
    }

    .imginfo {
        width: 85%;
        /*border: 1px solid orangered;*/
    }

    .pinfo {
        font-family: 'Cairo', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        color: #1f1f1f;
        margin: 0;
    }

    .pinfo2 {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: #1f1f1f;
    }

    .pinfo3 {
        font-family: 'Cairo', sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2rem;
        color: #1f1f1f;
        width: 80%;
    }


    /*--Wedding--*/


    .grid-container {
        grid-auto-rows: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .item:nth-child(3) {
        grid-column-start: span 2;

    }

    .item:nth-child(6) {
        grid-column-start: span 2;
    }

    .item {
        height: 760px;
    }

    h3 {
        font-size: 2rem;
        color: orangered;
        /*color: yellow;*/
        margin-top: 40px;
        padding-bottom: 0px;

    }
    .h3{
        font-size: 2.5rem;
        line-height: 2.8rem;
        letter-spacing: 0rem;
        color: #1f1f1f;
        font-weight: 300;
        padding: 100px;
    }

    .h3 {
        font-size: 2.5rem;
        line-height: 2.8rem;
        letter-spacing: 0rem;
        color: #1f1f1f;
        font-weight: 300;
        padding: 100px;
    }

    .imagenlove {
        width: 100%;
        height: 85%;
        object-fit: cover;
    }
    .caja{
        text-align: center;
        justify-items: center;
    }

    /*------FASHION----------*/




    /*-------PORTRAIT---------*/

    .carousel-cont {
        width: 100%;
        height: 750px;

    }

    .img-carousel {
        height: 750px;
        object-fit: cover;
    }

    /*-------CONTACT---------*/


    form {
        font-size: 2rem;
        
        
    }

    .dentrodebox {
        font-size: 4rem;
        width: 800px;

    }

    .contact {
        padding-left: 0px;
        padding-right: 100px;
        width: 250px;
    }

    /*---FOOTER---*/

    .col {
        font-size: 1.2rem;
        padding-left: 25px;
        padding-right: 25px;
        width: 320px;
    }

    #footer {
        width: 100%;
        flex-direction: row;
        padding-top: 50px;
    }
}